* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
}
.btn-secondary {
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid #fd6e0a;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
}
/* header and navigation styles */
header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-size: 750px, 90px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
/* banner styles */
.banner {
  display: flex;
  align-items: center;
  margin: 0 80px 0 200px;
}
.banner-sub-tittle {
  font-weight: 600;
  font-size: 35px;
}
.banner-tittle {
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 20px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about me section styles */
.about-me {
  text-align: center;
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
}
.section-description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-me .info-title {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-me .info-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.about-info {
  background-color: #ffdec7;
  padding: 10px;
  border-radius: 5px;
}
/* my skills styles */
.my-skills {
  /* text-align: left; */
  margin-top: 130px;
}
.skill-container {
  display: flex;
  gap: 24px;
}
.my-skills .section-description {
  margin: auto;
  max-width: 900px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
  margin-bottom: 50px;
}
.skill-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.skill-description {
  color: #757575;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
/* resume styles */
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-title{
    font-weight: 700;
font-size: 30px;
color: #474747;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-item .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
}
.resume-item .sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 20px;
}
.resume-item .description {
  color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
